.questionContainer {
    margin: 0 auto;
    border: 2px solid black;
    background-color: #554971;
    max-width: 100%;
        /* Adjust max-width for mobile */
        width: 95%;
        /* Adjust width for mobile */
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 7px 4px 14px 20px rgba(138, 198, 208, 0.3);
  
}

.optionBtn {
    background-color: #B8F3FF;
    color: black;
    padding: 5px;
        /* Adjust padding for mobile */
        margin: 10px;
    display: block;
    margin: 10px auto;
        font-size: 0.8rem;
        /* Reduce font size for mobile */
        width: 100%;
        /* Adjust width for mobile */
    border-radius: 15px;
    box-shadow: 5px 10px rgba(138, 198, 208, 0.3);
}

.optionBtn:hover {
    background-color: #8AC6D0;
}

p {
    font-size: 0.9rem;
        /* Increase font size for mobile */
        margin: 5% 5%;
        /* Adjust margins for mobile */
    text-align: center;
    color: white;
    font-weight: 400;
}

/* Breakpoint for Larger Screens (e.g., tablets) */
@media screen and (min-width: 668px) {
    .questionContainer {
        max-width: 760px;
        /* Restore max-width for larger screens */
        width: 100%;
        /* Restore width for larger screens */
        padding: 40px;
        /* Increase padding for larger screens */
    }

    .optionBtn {
        font-size: 1rem;
        /* Restore font size for larger screens */
        width: 50%;
        /* Restore width for larger screens */
        padding: 15px;
        /* Restore padding for larger screens */
    }

                                p {
                                    font-size: 1rem;
                                    /* Restore font size for larger screens */
        margin: 5% 10%;
            /* Restore margins for larger screens */
        }
}