.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: rgb(54, 33, 62) solid 8px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #63768D, #8AC6D0);
/* Mobile Styles */
    width: 100%;
    margin: 0;
    /* Reset margins */
}

.quizTitle {
    font-size: 36px;
    /* Reduce font size for mobile */
    font-weight: 700;
    /* Reduce font weight for mobile */
    color: #36213E;
}

/* Breakpoint for Larger Screens (e.g., tablets) */
@media screen and (min-width: 768px) {
    .headerContainer {
        padding: 40px;
        /* Increase padding for larger screens */
    }

                                                                .quizTitle {
                                                                    font-size: 60px;
        /* Restore font size for larger screens */
        font-weight: 900;
        /* Restore font weight for larger screens */
        }
}

/* Add more breakpoints and adjust styles as needed for other screen sizes */